/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display:flex;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    font-family: sans-serif;
}

.league, .teams, .baseball-stats, .baseball-player {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */